

menu "Project Configuration"

    menu "WIFI Configuration"

        config ESP_WIFI_SSID
            string "WiFi SSID"
            default "ssid"
            help
                SSID (network name).

        config ESP_WIFI_PASSWORD
            string "WiFi Password"
            default "password"
            help
                WiFi password (WPA or WPA2).
        
        config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 30
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    menu "(FSE-CFG) Modo de Energia"
 
        choice ESP_ENERGY_MODE
            prompt "Modo de consumo de energia da placa."
            default NORMAL_MODE
            help
            Defines ESP energy consumption mode.
                
            config LOW_POWER_MODE
                int "Modo bateria [1 - Ligado e 0 - Desligado]"
                default 0
        endchoice

    endmenu

    endmenu

endmenu
